<div>
  <h4>Index</h4>
  <ul>
    <li>
      <a href="<%= page_url(SampleWeb.Endpoint, :register) %>">Register</a>
    </li>
    <li>
      <a href="<%= page_url(SampleWeb.Endpoint, :login) %>">Login</a>
    </li>
    <li>
      <a href="<%= page_url(SampleWeb.Endpoint, :join) %>">Join</a>
    </li>
  </ul>
</div>
